{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
<style>


.calendar {
  background-color: #FFF;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 1.6rem rgba(35, 131, 157, 0.2);
  padding: 5%;
  width: 450px;
  margin: auto;


}
.calendar__header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  padding: 0 0.4rem 1.2rem;
  text-transform: uppercase;
}

.calendar__day-names {
  border-bottom: 0.1rem solid #828889;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem 0;
}
.calendar__day-name {
  aspect-ratio: 1;
  color: #828889;
  font-weight: normal;
  text-align: center;
  width: 2.4rem;
}
.calendar__day_numbers {
  display: flex;
  flex-direction: column;
}
.calendar__day-numbers-row {
  display: flex;
  gap: 1.2rem;
  padding: 0.6rem 0;
}

.calendar__day-number {
  align-content: center;
  justify-content: center;
  aspect-ratio: 1;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  display: flex;
  line-height: 1.4;
  text-align: center;
  width: 2.4rem;
}
.calendar__day-number--current {
  background-color: #23839D;
  border-radius: 50%;
  box-shadow: 0 0 0 0.4rem #23839D;
  color: #FFF;
}
</style>
    
<h1 align="center" style="color: antiquewhite;"></h1>
<h3 align="center"></h3>



<div style="display: none;">
  <div>
    <p id="displayDate" style="color: white; display: none;"></p>
  </div>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#top-calender" aria-expanded="false" aria-controls="top-calender">
    v
  </button>
</div>

<div style="display: flex; flex-direction: row; justify-content: space-around; margin: 5%;">

<div class="calendar" id="top-calender" style="margin: 0;">

  <header class="calendar__header">
    <button onclick="previousMonth()">Previous</button>
    <div class="calendar__month"></div>
    <div class="calendar__year"></div>
    <button onclick="nextMonth()">Next</button>
  </header>
  <div class="calendar__grid">
    <div class="calendar__day-names">
      <span class="calendar__day-name">S</span>
      <span class="calendar__day-name">M</span>
      <span class="calendar__day-name">T</span>
      <span class="calendar__day-name">W</span>
      <span class="calendar__day-name">T</span>
      <span class="calendar__day-name">F</span>
      <span class="calendar__day-name">S</span>
    </div>
    <div class="calendar__day-numbers"></div>
  </div>
</div>


<div style="width: 40%;">
  <ul class="list-group list-group-flush" id="notes" >
    {% if current_day %}
        {% set meal_types = ['Breakfast', 'Lunch', 'Dinner'] %}
        <div style="display: flex; flex-direction: row; justify-content: space-between">
          <div style="display: flex; flex-direction: row; margin-left: 10px; margin-right: 10px; justify-content: space-between; width: 45%;">
            <p style="color: antiquewhite;"> protein </p>
            <p style="color: antiquewhite;"> fat </p>
            <p style="color: antiquewhite;"> carbs </p>
          </div>
          <div >
            <p style="color: antiquewhite;">Kcal</p>
          </div>
        </div>
        <div style="padding-left: 10px; display: flex; flex-direction: row; margin-left: 10px; margin-right: 10px; justify-content: space-between; width: 45%;">
          <p style="color: antiquewhite;"> {{total_nutrition["protein"]}} </p>
          <p style="color: antiquewhite;"> {{total_nutrition["fat"]}} </p>
          <p style="color: antiquewhite;"> {{total_nutrition["carbs"]}} </p>
        </div>
        {% for meal in existing_meals %}
        <div style="background-color: rgb(54, 54, 54); padding-left:10px; padding-right:10px;padding-top:10px; border-radius: 20px; margin-bottom: 20px;">
          <div style="background-color: rgb(54, 54, 54); border-top-left-radius: 20px; border-top-right-radius: 20px;">
            <div class="d-inline-flex gap-1" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%;">
              <h1 style="color: antiquewhite; ">{{ meal_types[meal.mealTime] }}</h1>
                <div style="display: flex; flex-direction: row; justify-content: right; align-items: center; width: 25%; align-items: center;">
                  <h4 style="color: antiquewhite; margin-right: 40%; font-size: smaller; width: 20%;">{{ nutrition_list[meal.mealTime]["kcal"] }} kalorier</h4>
                  <form action="/" method="post">
                    <button class="btn btn-secondary" name="button" type="submit" value="{{loop.index - 1}}">
                      <a class="nav-item nav-link" id="add_product" >+</a>

                    </button>
                  </form>
                </div>
            </div>
          </div>
          <div style="margin-bottom: 20px; ">
            <div  id="parentDiv{{loop.index}}" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; background-color: rgb(54, 54, 54);" >
                <div style="padding-left: 10px; display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 35%;">
                  <p style="color: antiquewhite;"> {{ (nutrition_list[meal.mealTime]["protein"]) }} </p>
                  <p style="color: antiquewhite;"> {{ nutrition_list[meal.mealTime]["fat"] }} </p>
                  <p style="color: antiquewhite;"> {{ nutrition_list[meal.mealTime]["carbs"] }} </p>
                </div>
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">
                  v
                </button>
            </div>
            <div id="collapseExample{{loop.index}}" class="collapse">
              <br>
              <hr style="color: white; margin: 0;">

                <ul class="list-group">
                  {% if meal.products %}
                    {% for (product, amount) in meal.products.items() %}
                      <li class="list-group-item" style="border-bottom: 1px rgb(100, 100, 100) solid; color: antiquewhite; background-color: rgb(54, 54, 54);">
                          <p style="margin: 0; font-weight: 500;">{{ productNames[product] }}</p>
                          <p style="color: rgb(95, 255, 95); margin: 0;" >{{ amount }} g</p>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
            </div>
          </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="color: antiquewhite;">No meals recorded for today.</p>
    {% endif %}   
    
  </ul>
</div>

</div>
<script > 
const calendarHeader = document.querySelector('#top-calender');
let touchStartX = 0;
let touchEndX = 0;

calendarHeader.addEventListener('touchstart', handleTouchStart, false);
calendarHeader.addEventListener('touchmove', handleTouchMove, false);


function handleTouchStart(event) {
    touchStartX = event.touches[0].clientX;
    isSwiping = false;
}

function handleTouchMove(event) {
    touchEndX = event.touches[0].clientX;
    isSwiping = true;
}

calendarHeader.addEventListener('touchend', function(event) {
  console.log(touchStartX, touchEndX)
  if (!isSwiping) {
        // If not swiping, consider it a click
        // Implement your logic for selecting days here
        return;
    }
  if (touchEndX + 200 < touchStartX) {
      // Swiped left, so go to next month
      nextMonth();
  } else if (touchEndX - 200 > touchStartX) {
      // Swiped right, so go to previous month
      previousMonth();
  }
}, false);




 // Function to set the current day
 function setselectedDay(year, month, day, object) {
    currentYear = year;
    currentMonthIndex = month;
    selectedDay = day;


    updateCalendarGrid(); 
  }
  // month abbreviations
  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

  // get current date values
  let currentDate = new Date();
  
  if (localStorage.getItem("month") === null) {
    currentMonthIndex = currentDate.getMonth();
  }
  else {
    currentMonthIndex = localStorage.getItem("month")

  }
  var selectedMonthIndex = currentMonthIndex;


  if (localStorage.getItem("year") === null) {
    currentYear = currentDate.getFullYear();
  }
  else {
    currentYear = localStorage.getItem("year")
  }
  var selectedYear = currentYear

  var selectedDay = localStorage.getItem("selectedDay");

  if (selectedDay === null) {
    selectedDay = currentDate.getDate();
  }




  function nextMonth() {
    currentMonthIndex = (currentMonthIndex + 1 + 12) % 12; // Increment month index
    if (currentMonthIndex === 0) {
      currentYear++; // Increment year when transitioning to January
    }
    
    document.querySelector('.calendar__month').innerText = months[currentMonthIndex]; // Update month text
    document.querySelector('.calendar__year').innerText = currentYear; // Update year text
    updateCalendarGrid();
  }
  function previousMonth() {
    currentMonthIndex = (currentMonthIndex - 1 + 12) % 12; // Decrement month index
    if (currentMonthIndex === 11) {
      currentYear--; // Decrement year when transitioning to December
    }
    document.querySelector('.calendar__month').innerText = months[currentMonthIndex]; // Update month text
    document.querySelector('.calendar__year').innerText = currentYear; // Update year text
    updateCalendarGrid(); // Update calendar grid for the new month
  }
  // Adjusted updateCalendarGrid function
  function updateCalendarGrid() {
    // Clear existing calendar grid
    document.querySelector('.calendar__month').innerText = months[currentMonthIndex]; // Update month text
    document.querySelector('.calendar__year').innerText = currentYear; // Update year text
    document.querySelector('#displayDate').innerText = selectedDay + ". " + months[selectedMonthIndex].toString() + ", " + selectedYear.toString();

    document.querySelector('.calendar__day-numbers').innerHTML = '';

    // Get the number of days in the current month
    const daysInMonth = new Date(currentYear, currentMonthIndex + 1, 0).getDate();
    let week = document.createElement('div');
    week.classList.add('calendar__day-numbers-row');

    // Generate new grid of days for the current month
    console.log(selectedDay, currentMonthIndex, selectedMonthIndex, currentYear, selectedYear)

    for (let i = 1; i <= daysInMonth; i++) {
      if (i === 1) {
        typeDay = new Date(currentYear, currentMonthIndex, i).getDay()
        console.log(typeDay)

        for (let n = typeDay - 1; n >= 0; n--) {
          console.log(n)

          let day = document.createElement('button');
          day.classList.add('calendar__day-number');
          const daysInPrevMonth = new Date(currentYear, currentMonthIndex, 0).getDate();
          day.innerText = daysInPrevMonth - n;
          day.style.color = "grey"
          week.append(day);

        }

      }
      let day = document.createElement('button');
      day.classList.add('calendar__day-number');
      day.innerText = i;
      if (i.toString() === selectedDay && currentMonthIndex.toString() === selectedMonthIndex.toString() && currentYear.toString() === selectedYear.toString()) {
        day.classList.add('calendar__day-number--current');
      };


      day.onclick = function() {
        setselectedDay(currentYear, currentMonthIndex, i, day);
        localStorage.setItem("selectedDay", selectedDay);
        localStorage.setItem("month", currentMonthIndex);
        localStorage.setItem("year", currentYear);

        addDay(currentYear, ((currentMonthIndex % 12) + 1), i);
      };
      
      week.append(day);

      if (new Date(currentYear, currentMonthIndex, i).getDay() === 6 || i === daysInMonth) {
        document.querySelector('.calendar__day-numbers').append(week);

        if (i !== daysInMonth) {
          week = document.createElement('div');
          week.classList.add('calendar__day-numbers-row');
        }
      }
    }
  }
  updateCalendarGrid()

  // Call updateCalendarGrid to initialize calendar
  // updateCalendarGrid();

</script>



{% endblock %}