{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Notes</h1>
    <!-- <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.date }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form> -->
    <div>
      <h1>Breakfast</h1>
      <ul class="list-group list-group-flush" id="notes">
        {% if current_day %}
            {% for meal in current_day.meals %}
                <h1>New meal</h1>
                {% for (product, amount) in meal.meal.items() %}
                    <li class="list-group-item">
                        {{ product }}: {{ amount }}g
                    </li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No meals recorded for today.</p>
        {% endif %}
    </ul>
    </div>
    <form method="POST" action="/add-meal">
      <h3 align="center">Add meal</h3>
      <div class="form-group">
        <label for="mealTime">Meal Time</label>
        <input
          type="text"
          class="form-control"
          id="mealTime"
          name="mealTime"
          placeholder="Enter meal time"
        />
      </div>
      <div class="form-group">
        <label for="product">Product</label>
        <input
          type="text"
          class="form-control"
          id="product"
          name="product"
          placeholder="Enter product"
        />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          name="amount"
          placeholder="Enter amount"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <h3 align="center">March</h3>
    <table bgcolor="lightgrey" align="center"
        cellspacing="21" cellpadding="21">
         
        <!-- The tr tag is used to enter 
            rows in the table -->
 
        <!-- It is used to give the heading to the
            table. We can give the heading to the 
            top and bottom of the table -->
 
        <caption align="top">
            <!-- Here we have used the attribute 
                that is style and we have colored 
                the sentence to make it better 
                depending on the web page-->
        </caption>
 
        <!-- Here th stands for the heading of the
            table that comes in the first row-->
 
        <!-- The text in this table header tag will 
            appear as bold and is center aligned-->
 
        <thead>
            <tr>
                <!-- Here we have applied inline style 
                     to make it more attractive-->
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>sat</th>
            </tr>
        </thead>
         
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- <form method="POST">
                  <textarea name="note" id="note" class="form-control"></textarea>
                  <br />
                  <div align="center">
                    <button type="submit" class="btn btn-primary">1</button>
                  </div>
                </form> -->
                <td><button onClick="addDay(2024, 3, 1)">1</button></td>
                <td><button onClick="addDay(2024, 3, 2)">2</button></td>
            </tr>
            <tr></tr>
            <tr>
              <td><button>3</button></td>
              <td><button>4</button></td>
              <td><button>5</button></td>
              <td><button>6</button></td>
              <td><button>7</button></td>
              <td><button>8</button></td>
              <td><button>9</button></td>
            </tr>
            <tr>
              <td><button>10</button></td>
              <td><button>11</button></td>
              <td><button>12</button></td>
              <td><button>13</button></td>
              <td><button onClick="addDay(2024, 3, 14)">14</button></td>
              <td><button onClick="addDay(2024, 3, 15)">15</button></td>
              <td><button>16</button></td>
            </tr>
            <tr>
              <td><button>17</button></td>
              <td><button>18</button></td>
              <td><button>19</button></td>
              <td><button>20</button></td>
              <td><button>21</button></td>
              <td><button>22</button></td>
              <td><button>23</button></td>
            </tr>
            <tr>
              <td><button>24</button></td>
              <td><button>25</button></td>
              <td><button>26</button></td>
              <td><button>27</button></td>
              <td><button>28</button></td>
              <td><button>29</button></td>
              <td><button>30</button></td>
            </tr>
            <tr>
              <td><button>31</button></td>
              <td><button>1</button></td>
              <td><button>2</button></td>
              <td><button>3</button></td>
              <td><button>4</button></td>
              <td><button>5</button></td>
              <td><button>6</button></td>
            </tr>
        </tbody>
    </table>
    {% endblock %}